
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-primary: "Lato", sans-serif;
}
body{
  font-family: var(--font-primary);
}

@keyframes colorChange {
    0%, 100% {
      background-color: #2FEAE4;
      color: #002748;
    }
    50% {
      background-color: #002748;
      color: white;
    }
  }
  
  @keyframes colorChangeReverse {
    0%, 100% {
        background-color: #002748;
        color: white;
    }
    50% {
        background-color: #2FEAE4;
        color: #002748;
    }
  }
  
  .animate-colorChange {
    animation: colorChange 5s infinite;
  }
  
  .animate-colorChangeReverse {
    animation: colorChangeReverse 5s infinite;
  }


  @media only screen and (min-width: 1300px) {
      .hero-section{
        padding-left: 200px;
        padding-right: 200px;
      }
  }

  @media only screen and (min-width: 1700px) {
      .hero-section{
        padding-left: 350px;
        padding-right: 350px;
      }
  }

/* .gallery {
  display: grid;
  grid-template-columns: repeat(4, 302px);
  grid-template-rows: repeat(4, 301px);
  gap: 15px;
  justify-content: center;
  align-content: center;
}

.gallery img {
  width: 100%;
  height: 301px;
  object-fit: cover;
}

.img1 {
  grid-column: 1 / 3; 
  grid-row: 1 / 2;
}

.img2 {
  grid-column: 3 / 4; 
  grid-row: 1 / 2; 
}

.img3 {
  grid-column: 4 / 5; 
  grid-row: 1 / 2; 
}

.img4 {
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}

.img5 {
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
}

.img6 {
  grid-column: 3 / 5; 
  grid-row: 2 / 3;
} */